doctype html
html(lang="ru-RU")
	head
		title="Маркс"
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet")
		link(rel="stylesheet", href="css/font-awesome.min.css")
		link(rel="stylesheet", href="css/main.css")
	body
		header.header
			.container
				.header-top
					.header-top__logo
						img(src="img/logo.svg" alt="#")
					.header-top__phone
						span  + 7 (495) 268-02-56
					.header-top__button
						button.start Начать работу!
				.header-bottom
					p Развитие интернет–маркетинга и продаж с оплатой за результат
					span.header-bottom__arrow
						a(href="#weDoing") узнайте больше 
							i(class="fa fa-chevron-down", aria-hidden="true")

		.header-sticky.stickyTop
			.container
				.sticky-top
					.sticky-top__logo
						img(src="img/logo.svg" alt="#")
					.sticky-top__phone
						span  + 7 (495) 268-02-56
					.sticky-top__button
						button.start Начать работу!
		section.buisness
			.container
				.buisness-wrap
					h2.buisness-header#weDoing Что мы делаем
					.buisness-block 
						.buisness-block__info
							.block-info.block-info__first
								h4 Используем только эффективную интернет-рекламу
								p Email маркетинг, контекст, баннеры, тизерные сети, SMM, SEO, СРА сети и др.
							.block-info.block-info__second
								h4 Создаем и оптимизируем
								p сайты, лендинги, интернет-магазины
							.block-info.block-info__third
								h4 Подключаем телефонию и колтрекинг
							.block-info.block-info__fourth
								h4 Подключаем и настраиваем CRM-системы
								p amoCRM, Bitrix24, retailCRM
							.block-info.block-info__fifth
								h4 Организуем отдел продаж
						.buisness-block__graphic
							.rectangle
								img(src="img/rectangle_18.svg" alt="#")
								.small-lines
									.line-small
										p Привлечение целевых посетителей
									.line-small
										p Увеличение числа заявок
									.line-small
										p Увеличение числа звонков
									.line-small
										p Больше подтвержденных заявок
									.line-small
										p Рост числа оплат и выручки
							.stripes
								img(src="img/Shape_160.svg" alt="#")
							.shadow
								img(src="img/Ellipse_21.png" alt="#")
							.money
								img(src="img/money-flow.svg" alt="#")
							.lightened-graphic
								img(src="img/lighten.png" alt="#")



							.line.line-one
								span.char.char1 П
								span.char.char2 р
								span.char.char3 и
								span.char.char4 в
								span.char.char5 л
								span.char.char6 е
								span.char.char7 ч
								span.char.char8 е
								span.char.char9 н
								span.char.char10 и
								span.char.char11 е
								span 
								span.char.char12 ц
								span.char.char13 е
								span.char.char14 л
								span.char.char15 е
								span.char.char16 в
								span.char.char17 ы
								span.char.char18 х
								span 
								span.char.char19 п
								span.char.char20 о
								span.char.char21 с
								span.char.char22 е
								span.char.char23 т
								span.char.char24 и
								span.char.char25 т
								span.char.char26 е
								span.char.char27 л
								span.char.char28 е
								span.char.char29 й
							.line.line-two
								span.char.char1 У
								span.char.char2 в
								span.char.char3 е
								span.char.char4 л
								span.char.char5 и
								span.char.char6 ч
								span.char.char7 е
								span.char.char8 н
								span.char.char9 и
								span.char.char10 е
								span 
								span.char.char12 ч
								span.char.char13 и
								span.char.char14 с
								span.char.char15 л
								span.char.char16 а
								span 
								span.char.char17 з
								span.char.char18 а
								span.char.char19 я
								span.char.char20 в
								span.char.char21 о
								span.char.char22 к
							.line.line-three
								span.char.char1 У
								span.char.char2 в
								span.char.char3 е
								span.char.char4 л
								span.char.char5 и
								span.char.char6 ч
								span.char.char7 е
								span.char.char8 н
								span.char.char9 и
								span.char.char10 е
								span 
								span.char.char12 ч
								span.char.char13 и
								span.char.char14 с
								span.char.char15 л
								span.char.char16 а
								span 
								span.char.char17 з
								span.char.char18 в
								span.char.char19 о
								span.char.char20 н
								span.char.char21 к
								span.char.char22 о
								span.char.char23 в
							.line.line-four
								span.char.char1 Б
								span.char.char2 о
								span.char.char3 л
								span.char.char4 ь
								span.char.char5 ш
								span.char.char6 е
								span 
								span.char.char7 п
								span.char.char8 о
								span.char.char9 д
								span.char.char10 т
								span.char.char11 в
								span.char.char12 е
								span.char.char13 р
								span.char.char14 ж
								span.char.char15 д
								span.char.char16 е
								span.char.char17 н
								span.char.char18 н
								span.char.char19 ы
								span.char.char20 х
								span 
								span.char.char21 з
								span.char.char22 а
								span.char.char23 я
								span.char.char24 в
								span.char.char25 о
								span.char.char26 к
							.line.line-five
								span.char.char1 Р
								span.char.char2 о
								span.char.char3 с
								span.char.char4 т
								span 
								span.char.char5 ч
								span.char.char6 и
								span.char.char7 с
								span.char.char8 л
								span.char.char9 а
								span 
								span.char.char10 з
								span.char.char11 а
								span.char.char12 я
								span.char.char13 в
								span.char.char14 о
								span.char.char15 к
								span 
								span.char.char16 и
								span 
								span.char.char17 в
								span.char.char18 ы
								span.char.char19 р
								span.char.char20 у
								span.char.char21 ч
								span.char.char22 к
								span.char.char23 и
		section.help
			.container
				.help-block
					h2.help-header В каких случаях Маркс поможет вам?
					.help-block__row
						.help-item
							img(src="img/vector-case-1.png" alt="#")
							p У вас есть хороший товар и вы нуждаетесь в увеличении числа покупателей
						.help-item
							img(src="img/vector-case-2.png" alt="#")
							p Вы видите возможность повысить конверсию из посетителей в оплаченные заказы
						.help-item
							img(src="img/vector-case-3.png" alt="#")
							p Необходимо снизить расходы на прием и обработку заказов, отладить систему продаж, приема  и обработки заказа
					.help-block__row
						.help-item
							img(src="img/vector-case-4.png" alt="#")
							p Нужно больше повторных продаж и система удержания клиентов
						.help-item
							img(src="img/vector-case-5.png" alt="#")
							p Ваша цель — повысить прибыль, держать бизнес под контролем и заниматься его развитием
						.help-item
							img(src="img/vector-case-6.png" alt="#")
							p У вас есть хороший товар и вы нуждаетесь в увеличении числа покупателей

		section.solutions
			.container
				.solutions-wrap
					h2.solutions-header Какие решения предлагает Маркс?
					.solutions-row.first-solutions
						.solutions-row__item
							img(src="img/solution-vector-1.png" alt="#")
							.stripe-img
								img(src="img/stripe-1.png" alt="#")
						.solutions-row__item
							p Интернет-маркетинг и поисковое продвижение
							ul 
								li SEO-оптимизация и продвижение
								li Настройка и ведение контекстной рекламы
								li Подключение к CPA-сетям
								li Настройка тизерной и баннерной рекламы
								li Построение системы Email-маркетинга
						.solutions-row__item
							button.solution-row__btn  Оставить заявку
					.solutions-row.second-solutions
						.solutions-row__item
							img(src="img/solution-vector-2.png" alt="#")
							.stripe-img
								img(src="img/stripe-2.png" alt="#")
						.solutions-row__item
							p Создание и оптимизация веб-сайтов
							ul 
								li Создание с нуля сайта или серии посадочных страниц
								li Оптимизация юзабилити ваших страниц
								li Редизайн и подготовка рекламных материалов для ваших страниц
								li Настройка системы сбора заявок и звонков с сайта
						.solutions-row__item
							button.solution-row__btn  Оставить заявку
					.solutions-row.thisrd-solutions
						.solutions-row__item
							img(src="img/solution-vector-3.png" alt="#")
							.stripe-img
								img(src="img/stripe-3.png" alt="#")
						.solutions-row__item
							p Подключение и настройка CRM-системы
							ul 
								li Подключение системы учета источников звонков и посетителей сайта
								li Оптимизация и настройка телефонии, интеграция с CRM-системой
								li Настройка шаблонов писем, документов и SMS-уведомлений для клиентов
								li Базовая настройка бизнес-процессов приема, обработки заказа и допродаж
								li Автоматическая загрузка заявок и заказов в CRM
						.solutions-row__item
							button.solution-row__btn  Оставить заявку
		

		section.cases
			.container
				.cases-wrap
					h2.cases-header Кейсы нашей команды
					.cases-block
						.cases-block__item
							.case-image
								img(src="img/logo-amorem.png" alt="#")
							.case-info
								h4 Amorem
								span интернет-магазин украшений
								.case-tape
									span до 200%
									img(src="img/Shape_163.svg" alt="#")
									p Увеличение<br> среднего чека
						.cases-block__item
							.case-image.case-two
								img(src="img/logo-cotton.png" alt="#")
							.case-info
								h4 Текстиль Всем
								span интернет-магазин постельного белья
								.case-tape
									span до 300%
									img(src="img/Shape_163.svg" alt="#")
									p Повышение<br> конверсии в оплаченные заказы
						.cases-block__item
							.case-image
								img(src="img/logo-oboi.png" alt="#")
							.case-info
								h4 Обоиленд
								span интернет-магазин обоев
								.case-tape
									span до 200%
									img(src="img/Shape_163.svg" alt="#")
									p Увеличение<br> повторных продаж
		

		section.contacts
			.container
				.contacts-wrap
					h2.contacts-header Начните работать с нами!
					form.contacts-form(method="POST" action="#")
						.forms-row 
							input.forms-row__input(type="text" name="name" required placeholder="Ваше имя *")
							input.forms-row__input(type="text" name="budget" placeholder="Бюджет")
						.forms-row 
							input.forms-row__input(type="number" id="phone" pattern="[0-9]{5,15}" name="phone" required placeholder="Контактный телефон *")
							input.forms-row__input(type="email" name="email" placeholder="Email")
						.forms-text 
							textarea.forms-text__area(name="comment" placeholder="Детали проекта *" required)
						button.submit-btn(type="submit") Отправить
				.contacts-footer
					.contact-footer__number
						p 
							a(href="mailto:mail@marks.agency") +7 495 268-02-56 <br> mail@marks.agency
					.contact-footer__adress
						p 115230, Москва, Хлебозаводский проезд, д.7, стр. 9 


		section.modal-wrap#modal
			.container
				.contacts-wrap
					.cross 
						span
						span
					h2.contacts-header Начните работать с нами!
					form.contacts-form(method="POST" action="#")
						.forms-row 
							input.forms-row__input(type="text" name="name" required placeholder="Ваше имя *")
							input.forms-row__input(type="text" name="budget" placeholder="Бюджет")
						.forms-row 
							input.forms-row__input(type="tel" name="phone" pattern="[0-9]{5,15}" required placeholder="Контактный телефон *" )
							input.forms-row__input(type="email" name="email" placeholder="Email")
						.forms-text 
							textarea.forms-text__area(name="comment" placeholder="Детали проекта *" required)
						button.submit-btn(type="submit") Отправить
								
		
		script(src='js/jquery-3.3.1.min.js')
		script(src='js/script.js')

